.RandomPlanet {
    grid-area: r;
    display: flex;
    justify-content: center;
    background: #303030;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.pic {
    width: 150px;
    height: 150px;
}

.img-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}


