 .App {
     display: grid;
     margin-left: 50px;
     grid-template-rows: 60px 1fr;
     grid-template-columns:1fr 1fr;
     grid-template-areas: 
     "h h"
     "r r"
     "i i"
     
 }

 

 .DefautWraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.DefautLoderWraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50%;
}

.Row {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid red;
}

.pic {
    height: 150px;
    width: auto;
}