 body {
     background: #303030;
 }
 
 .App {
     
     display: grid;
     margin-left: 50px;
     grid-template-rows: 60px 2fr;
     grid-template-columns:1fr 1fr;
     grid-template-areas: 
     "h h"
     "r r"
     "row row"
     
 }

 

 .DefautWraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    
}

.DefautLoderWraper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50%;
}

.Row {
    grid-area: row;
    display: grid;
    grid-template-columns: 4fr 8fr;
    
}

.pic {
    height: 150px;
    width: auto;
}