.Header {
    grid-area: h;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.Logo {
    font-size: 40px;
    font-weight: bold;
    margin-right: 50px;
}

.Header a {
    text-decoration: none;
}

.d-flex a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.menuhover {
    background: #303030;
    color: white;
    height: 60px;
    width: 120px;
    border: 0px;
}



.menuhover:hover {
    background: #2b2a2a;
    cursor: pointer;
}